/* === Neutrals === */
$color-light: hsl(0, 0%, 100%, 1);
$color-dark: hsl(0, 0%, 0%, 1);

/* === Palette === */
$dark-purple: hsl(268,79,37);
$light-purple: hsl(235,51,81);
$box-shadow: 0 9px 15px -9px #000;

